<form [formGroup]="form" (ngSubmit)="onSubmitForm()" class="task-form">
    <div>
        <label for="title">Titre</label><br/>
        <input id="title" type="text" formControlName="title" placeholder="Ex. Acheter du pain" />
        @if (form.get('title')?.touched && form.get('title')?.invalid) {
            <div class="error">
                @if (form.get('title')?.errors?.['required']) {
                    <small>Le titre est requis.</small>
                }
                @if (form.get('title')?.errors?.['minlength']) {
                    <small>Le titre doit contenir au moins 3 caractères.</small>
                }
                @if (form.get('title')?.errors?.['forbiddenWord']) {
                    <small>Le champ est invalide et le titre ne peut pas être "test".</small>
                }
            </div>
        }
    </div>

    <div>
        <label for="description">Description</label><br/>
        <textarea id="description" formControlName="description" placeholder="Description (optionnelle)"></textarea>
    </div>

    <button type="submit" [disabled]="form.invalid">Créer</button>
</form>
