h1 {
    color: #0080ff;
}

h1:hover {
    color: #0056b3;
    transition: 0.2s;
    cursor: pointer;
    text-shadow: #756bff 1px 0 10px;
}

h2 {
    color: #0e3863;
}

h2:hover {
    color: #0a2a4a;
    transition: 0.2s;
    cursor: pointer;
    text-shadow: #4a5a8a 1px 0 10px;
}

ul :hover {
    background-color: transparent;
    box-shadow: #0056b3 0 0 5px;
    transition: 0.2s;
}

button {
    font-family: Outfit, sans-serif;
    cursor: pointer;
    border: black solid 1px;
}

button:hover {
    background-color: #0056b3;
    box-shadow: #0056b3 0 0 10px;
    color: white;
    transition: 0.2s;
    transform: scale(1.05);
}
