/* Thème clair */
:root {
  --bg-color: #f4f4f4;
  --text-color: #111;
  --card-bg: #ffffff;
  --border-color: #cccccc;

  --accent: #0056b3;
}

/* Thème sombre */
body.dark {
  --bg-color: #121212;
  --text-color: #f5f5f5;
  --card-bg: #1f1f1f;
  --border-color: #444444;

  --accent: #4f7cff;
}

/* Application globale */
body {
  background: var(--bg-color);
  color: var(--text-color);
  transition: background 0.25s linear, color 0.25s linear;
  font-family: Outfit, sans-serif;
}
